* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #d7be9a;
    display: flex;
    justify-content:flex-start;
}

body {
    background-color: #e4d4bb;
}

.Img-header {
    justify-content: left;
    width: 90%;
    height: 8rem; 
    margin-left: 2rem;
}

header .middle-btn{
    width: 90%;
}
header h2{
    font-size: 1.5rem;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.CarShop{
    width: 10%;
}
.CarShop img{
    margin-top: 3rem;
height: 2rem;
cursor: pointer;
}

.sect-products {
    display: flex;
    justify-content: space-around;
}

.product1>h2 {
    background-color: #f3ece1;
    color: #321f18;
    border: solid #321f18 1px;
    
}

.product1 {
    margin-top: 4rem;
    justify-content: left;
    width: 30%;
    height: 30rem;
    text-align: center;
    border-radius: 10px;
    background-color: #f3ece1;
    border: solid #321f18;
}
.product1 img{
    width: 80%;
    height: 70%;
}