* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #d7be9a;
    display: flex;
    justify-content: flex-start;
}
.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
.cart-products {
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px; 
    display: none; /* Oculto por defecto */
    z-index: 1000;
}

.cart-products h3 {
    margin: 0 0 10px;
}

.card-items {
    max-height: 200px; 
    overflow-y: auto; /* Agrega scroll si es necesario */
    margin-bottom: 15px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.item img {
    width: 50px; /* Ajusta según tus necesidades */
    height: auto;
    margin-right: 10px;
}

.item-content {
    flex-grow: 1;
}

.item-content h5 {
    margin: 0;
    font-size: 14px;
}

.item-content h6 {
    margin: 5px 0 0;
    font-size: 12px;
}

.delete-product {
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.close-btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.price-total {
    font-weight: bold;
    font-size: 18px;
}


body {
    background-color: #e4d4bb;
}

.Img-header {
    justify-content: left;
    width: 90%;
    height: 8rem;
    margin-left: 2rem;
}

header .middle-btn {
    width: 90%;
}

header h2 {
    font-size: 1.5rem;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.CarShop {
    width: 10%;
}

.CarShop img {
    margin-top: 3rem;
    height: 2rem;
    cursor: pointer;
}
button{
    border: solid black;
    border-radius: 20%;
    background-color: #d7be9a;
    width: 9rem;
    height: 2rem;
    cursor: pointer;
}
button:hover{
    color: #d7be9a;
    background-color: #321f18;
}
 
.sect-products1 {
    display: flex;
    justify-content: space-around;
}

.product>h2 {
    background-color: #f3ece1;
    color: #321f18;
    border: solid #321f18 1px;

}


.product {
    margin-top: 4rem;
    justify-content: left;
    width: 18%;
    height: 28rem;
    text-align: center;
    border-radius: 10px;
    background-color: #f3ece1;
    border: solid #321f18;
    cursor: pointer;
}

.product h3 {
    margin-top: 2rem;
}

.product img {
    width: 80%;
    height: 70%;
}

.product:hover {
    transform: scale(1.2);
}


.text-type {
    margin-top: 2.5rem;
    text-align: center;
}

.sect-products2 {
    display: flex;
    justify-content: space-around;
}

.sect-products3 {
    display: flex;
    justify-content: space-around;
}

.sect-products4 {
    display: flex;
    justify-content: space-around;
}

